@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: whitesmoke;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -150px;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading img {
  width: 600px;
}

@media(max-width: 750px) {
  .loading img {
    width: 400px;
  }
}

